html, body {
    height: 100%;
}

h1 {
    font-family: 'Staatliches';
    letter-spacing: 5px;
    text-align: center;
    font-size: 50px;
    background: darkorchid;
    color: white;
    margin: 0px;
    padding: 20px;
}